<link rel="stylesheet" href="/stylesheets/styles_recipeid.css"/>

{{#each myRecipes}}

<h1> {{name}} </h1>


<div class="detailrecette1">

    <img class="photo" src="{{this.image}}" alt="photo"/>

    <div class="time_level">

        <p> Temps de Preparation: <time>{{time}}</time></p>
        <p> Difficulty: {{difficulty}}</p>

       <img class="fav" src="/images/favoris.png"/>

    </div>

    <p class="resume">{{description}}</p>
    
</div>

 <hr>

<div class="detailrecette2">
 
 <h2>INGRÉDIENTS : {{personne}} </h2>
 
 <br>

        
        <li>{{ingredients}}</li>
        <li>6 portions de Vache qui rit ou Carré Frais</li>
        <li>2 oignons</li>
        <li>1 c.à café de curry</li>
        <li>2 cubes de bouillon de volaille</li>
        <li>2 c.à soupe d'huile d'olive</li>
        <li> 1 l d'eau</li>
    
    
</div>

<div class="etapes">

{{#each Etapes}}
<ul>{{this}}</ul>
{{/each}}

</div>

{{/each}}