<link rel="stylesheet" href="/stylesheets/style_recipes.css"/>

<h1>Voici les meilleures propositions pour toi!</h1>

{{#each myRecipes}}



<article>
  <img src="{{this.img}}" alt="soupe" />
    
    <a>
      <h3>{{name}}</h3> <br>
         {{description}} </a>
</article>
    
  <div class="timebutton"> 

    <div class="critere">
        <p> <strong>Temps de Preparation:</strong> <time>{{duration}}</time></p>
        <p> <strong>Difficulty:</strong> {{difficulty}}</p>
        <p> <strong>Mood:</strong> 
         {{#each mood}}
          {{this}}
         {{/each}}
         </p>

    </div>
    
      <button >Découvrir la recette...</button>

  </div> 

{{/each}}

