<link rel="stylesheet" href="/stylesheets/styles_recipeid.css"/>

{{#each myRecipes}}

<h1> {{name}} </h1>


<div class="detailrecette1">

    <img class="photo" src="{{this.image}}" alt="photo"/>

    <div class="time_level">

        <p> Temps de Preparation: <time>{{time}}</time></p>
        <p> Difficulty: {{difficulty}}</p>

       <img class="fav" src="/images/favoris.png"/>

    </div>

    <p class="resume">{{description}}</p>
    
</div>

 <hr>

<div class="detailrecette2">
 
 <h2>INGRÉDIENTS : {{personne}} </h2>
 
 <br>

        
        <li>{{ingredients}}</li>
        
        <br>
        <br>
    
    
</div>

<div class="etapes">

{{#each Etapes}}
<ul>{{this}}</ul>
{{/each}}

</div>

<br>
<br>
<br>
<br>

{{/each}}